{% extends 'main/mmtmainframe.html' %}
{% load static %}
{% block pg_title %}
  Работа с файлами (MMT)
{% endblock %}
{% block bgr_cont %} mmtfilescreen-container {% endblock %}
{% block custom_style %}
<style>
    [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
      display: flex;
      background-color: rgba(40, 40, 40, 1);
    }
    [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-toggle"] {
      display: flex;
      background-color: rgba(40, 40, 40, 1);
    }
    [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
      transform: rotate(90deg);
    }
</style>
{% endblock %}


          {% block pg_context %}
            <link href="{% static "css/mmtfilescreen.css" %}" rel="stylesheet" />
            <div class="mmtfilescreen-mainfr">
              <form>
                <button class="mmtfilescreen-mmmenu", formaction="{% url 'megamen-team-page' %}">
                  <span class="mmtfilescreen-text">
                    <span>MEGAMEN TEAM</span>
                  </span>
                </button>
              </form>
              <div class="mmtfilescreen-elemsframe">
                <form class="mmtfilescreen-fileframe" action='' method="post">
                  <div class="mmtfilescreen-fileframe">
                    <div class="mmtfilescreen-chartviewbtn">
                      <div class="mmtfilescreen-insidefr">
                        <span class="mmtfilescreen-text02">
                          <input 
                            type="file" 
                            id="upload" 
                            name="file"
                            accept=".txt,.docx,.xml,.csv"
                            hidden
                          />
                          <label class="mmtfilescreen-filelbl", for="upload">
                            <span>Выберите свой файл здесь</span>
                          </label> 
                        </span>
                      </div>
                    </div>
                    <div class="mmtfilescreen-fileselem">
                      <button class="mmtfilescreen-chartviewbtn1" type="submit">
                        <div class="mmtfilescreen-deviceupbtn">
                          <img
                            alt="logout1727"
                              src="{% static "svg/logout1727-wcfe.svg" %}"
                            class="mmtfilescreen-logout"
                          />
                        </div>
                        <span class="mmtfilescreen-text04">
                          <span>Загрузить файл</span>
                        </span>
                      </button>
                      <div class="mmtfilescreen-dropdwn-btn">
                        <div data-thq="thq-dropdown" class="mmtfilescreen-thq-dropdown list-item">
                          <div data-thq="thq-dropdown-toggle" class="mmtfilescreen-dropdown-toggle">
                            <span class="mmtfilescreen-text1106">Нужный формат файла</span>
                            <div data-thq="thq-dropdown-arrow" class="mmtfilescreen-dropdown-arrow">
                              <svg viewBox="0 0 1024 1024" class="mmtfilescreen-icon">
                                <path d="M426 726v-428l214 214z"></path>
                              </svg>
                            </div>
                          </div>
                          <select name="output_format" data-thq="thq-dropdown-list" class="mmtfilescreen-dropdown-list">
                            <li data-thq="thq-dropdown" class="mmtfilescreen-dropdown list-item">
                              <div data-thq="thq-dropdown-toggle" class="mmtfilescreen-dropdown-toggle1">
                                <option class="mmtfilescreen-text1107">
                                  csv
                                </option>
                              </div>
                            </li>
                            <li data-thq="thq-dropdown" class="mmtfilescreen-dropdown1 list-item">
                              <div data-thq="thq-dropdown-toggle" class="mmtfilescreen-dropdown-toggle2" >
                                <option class="mmtfilescreen-text1108">
                                  xlsx
                                </option>
                              </div>
                            </li>
                            <li data-thq="thq-dropdown" class="mmtfilescreen-dropdown2 list-item">
                              <div data-thq="thq-dropdown-toggle" class="mmtfilescreen-dropdown-toggle3">
                                <option class="mmtfilescreen-text1109">
                                  txt
                                </option>
                              </div>
                            </li>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="mmtfilescreen-attentionfile1">
                  <span class="mmtfilescreen-text14">
                    <span>
                      Для загрузки файла нажмите на поле над кнопками, подтвердить
                      загрузку файла можно кнопкой Загрузить файл
                    </span>
                  </span>
                </div>
              </div>
              {% if ans_simple %}
                <div class="mmtfilescreen-elemsframe1">
                  <div class="mmtfilescreen-fileframe2">
                    <div class="mmtfilescreen-answerbig">
                      <span class="mmtfilescreen-text07">
                        Результат работы модели
                      </span>
                      <div class="mmtfilescreen-contextcolumn">
                        <div class="mmtfilescreen-classresp">
                          <div class="mmtfilescreen-respfr">
                            <div class="mmtfilescreen-rowresp">
                              <div class="mmtfilescreen-container1">
                                <span class="mmtfilescreen-text108">Категория</span>
                              </div>
                              <div class="mmtfilescreen-container2">
                                <span class="mmtfilescreen-text09">
                                  <span>Уровень</span>
                                  <br />
                                  <span>рейтинга</span>
                                </span>
                              </div>
                            </div>
                            <div class="mmtfilescreen-rowresp2">
                              <div class="mmtfilescreen-container3">
                                <span class="mmtfilescreen-text13">
                                  ml kat 1
                                </span>
                              </div>
                              <div class="mmtfilescreen-container4">
                                <span class="mmtfilescreen-text116">
                                  ml kat 2
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mmtfilescreen-text1">
                          <span class="mmtfilescreen-text17">
                            Визуальное выделение слов:
                          </span>
                        </div>
                        <div class="mmtfilescreen-htmlresp">
                          <div class="mmtfilescreen-respfr1">
                            <div class="mmtfilescreen-rowresp3">
                              <span>'html-page-context'</span>
                            </div>
                          </div>
                        </div>
                        <div class="mmtfilescreen-text11">
                          <span class="mmtfilescreen-text19">Ключевые слова:</span>
                        </div>
                        <div class="mmtfilescreen-htmlresp1">
                          <div class="mmtfilescreen-respfr2">
                            <div class="mmtfilescreen-rowresp4">
                              <ul class="mmtfilescreen-ul list">
                                <li class="mmtfilescreen-li list-item">
                                  <span>Text</span>
                                </li>
                                <li class="mmtfilescreen-li1 list-item">
                                  <span>Text</span>
                                </li>
                                <li class="mmtfilescreen-li2 list-item">
                                  <span>Text</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="mmtfilescreen-hackatt">
                <img
                  alt="elem6I208"
                  src="{% static "svg/cir_pror_mmt.svg" %}"
                  class="mmtfilescreen-elem6"
                />
                <div class="mmtfilescreen-textframe">
                  <span class="mmtfilescreen-text16">
                    <span>
                      <span>Команда MEGAMEN</span>
                      <br />
                      <span>Москва, 2023</span>
                    </span>
                  </span>
                </div>
                <form>
                  <button class="mmtfilescreen-btn", formaction="{% url 'file' %}">
                    {% comment %} Назад {% endcomment %}
                    <img
                      src="{% static "svg/codesandbox1819-zhyfd.svg" %}"
                      alt="codesandbox1819"
                      class="mmtslider-codesandbox"
                    />
                  </button>
                </form>
              </div>
            </div>
          {% endblock %}
