{% extends 'main/mmtmainframe.html' %}
{% load static %}
{% block pg_title %}
  Наша команда (MMT)
{% endblock %}
{% block bgr_cont %} mmtmegamen-container {% endblock %}

          {% block pg_context %}
          <link href="{% static "css/mmtmegamen.css" %}" rel="stylesheet" />
          <div class="mmtmegamen-mainfr">
            <div class="mmtmegamen-elemsframe">
              <div class="mmtmegamen-aboutus">
                <span class="mmtmegamen-text">
                  <span>
                    <span>ММТ представляет</span>
                    <br />
                    <span>«MMT-ПР»</span>
                  </span>
                </span>
                <div class="mmtmegamen-frame18">
                  <img
                    alt="Ellipse61114"
                    src="{% static "png/ellipse61114-7rfj-200h.png" %}"
                    {% comment %} src="public/external/ellipse61114-7rfj-200h.png" {% endcomment %}
                    class="mmtmegamen-ellipse6"
                  />
                  <div class="mmtmegamen-frame17">
                    <span class="mmtmegamen-text005">
                      <span>В лучших традициях минимализма.</span>
                      <br class="mmtmegamen-text007" />
                      <br />
                      <span>
                        Использование передовых технологий в области ML,
                        проектирования и инжиниринга.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="mmtmegamen-solutions">
                <span class="mmtmegamen-text010">
                  <span>MMT - solutions &amp; products</span>
                </span>
                <div class="mmtmegamen-frame171">
                  <span class="mmtmegamen-text012">
                    <span class="mmtmegamen-text013">TRAI</span>
                    <span class="mmtmegamen-text014">
                      <span>
                        — прогрессивный переводчик искусственного интеллекта;
                      </span>
                      <br />
                      <span></span>
                      <br />
                      <span></span>
                    </span>
                    <span class="mmtmegamen-text020">FCNSwan</span>
                    <span class="mmtmegamen-text021">
                      <span>
                        — Приложение для автоматического распознавания вида
                        лебедя на картинке;
                      </span>
                      <br />
                      <span></span>
                      <br />
                      <span></span>
                    </span>
                    <span class="mmtmegamen-text027">MMT-ГИС</span>
                    <span class="mmtmegamen-text021">
                      <span>
                        — модель, споосбная адаптироваться к задачам определения
                        корректного адреса;
                      </span>
                      <br />
                      <span></span>
                      <br />
                      <span>
                        И многие другие решения ML для решения самых разных
                        задач.
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="mmtmegamen-devsext">
              <div class="mmtmegamen-vladext">
                <img
                  alt="IMAGE55010"
                    src="{% static "png/image55010-ycw-200h.png" %}"
                    {% comment %} src="public/external/image55010-ycw-200h.png" {% endcomment %}
                  class="mmtmegamen-image5"
                />
                <div class="mmtmegamen-vlad">
                  <div class="mmtmegamen-frame11">
                    <span class="mmtmegamen-text034">
                      <span class="mmtmegamen-text035">
                        <span>Полетаев Владислав</span>
                        <br />
                        <span>-</span>
                      </span>
                      <span class="mmtmegamen-text039">Student</span>
                      <span>
                        <span>-</span>
                        <br />
                        <span>ML инженер</span>
                      </span>
                    </span>
                    <span class="mmtmegamen-text044">
                      <span>#Python, #DL, #ML</span>
                    </span>
                    <form>
                      <span class="mmtmegamen-text046">
                        <button class='mmtmegamen-text047', formaction="https://github.com/whatisslove11">gh: whatisslove11</button , formaction="">
                        <br />
                        <button class='mmtmegamen-text047', formaction="https://t.me/whatisslove7">tg: @whatisslove7</button>
                      </button>
                    </form>
                    {% comment %} <span class="mmtmegamen-text046">
                      <span>gh: whatisslove11</span>
                      <br />
                      <span>tg: @whatisslove7</span>
                    </span> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="mmtmegamen-egorext">
                <img
                  alt="IMAGE615010"
                  src="{% static "png/image615010-36i7-200h.png" %}"
                  {% comment %} src="public/external/image615010-36i7-200h.png" {% endcomment %}
                  class="mmtmegamen-image61"
                />
                <div class="mmtmegamen-egor">
                  <div class="mmtmegamen-frame111">
                    <span class="mmtmegamen-text050">
                      <span class="mmtmegamen-text051">
                        <span>Чуфистов Георгий</span>
                        <br />
                        <span>-</span>
                      </span>
                      <span class="mmtmegamen-text055">Student</span>
                      <span>
                        <span>-</span>
                        <br />
                        <span>Инженер по</span>
                        <br />
                        <span>внедрению</span>
                      </span>
                    </span>
                    <span class="mmtmegamen-text062">
                      <span>
                        <span>#Docker, #DevOps</span>
                        <br />
                        <span>#Python, #ML</span>
                      </span>
                    </span>
                    <form>
                      <span class="mmtmegamen-text067">
                        <button class='mmtmegamen-text068', formaction="https://github.com/georgechufff">gh: georgechufff</button>
                        <br />
                        <button class='mmtmegamen-text068', formaction="https://t.me/asitcomes">tg: @asitcomes</button>
                      </button>
                    </form>
                    {% comment %} <span class="mmtmegamen-text067">
                      <span>gh: georgechufff</span>
                      <br />
                      <span>tg: @asitcomes</span>
                    </span> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="mmtmegamen-sashaext">
                <img
                  alt="IMAGE45010"
                  src="{% static "png/image45010-5k6g-200h.png" %}"
                  {% comment %} src="public/external/image45010-5k6g-200h.png" {% endcomment %}
                  class="mmtmegamen-image4"
                />
                <div class="mmtmegamen-aleksander">
                  <div class="mmtmegamen-frame112">
                    <span class="mmtmegamen-text071">
                      <span class="mmtmegamen-text072">
                        <span>Калинин Александр</span>
                        <br />
                        <span>-</span>
                      </span>
                      <span class="mmtmegamen-text076">Student</span>
                      <span>
                        <span>-</span>
                        <br />
                        <span>Backend</span>
                        <br />
                        <span>разработчик</span>
                      </span>
                    </span>
                    <span class="mmtmegamen-text083">
                      <span>#Data_Analyst, #Django#Python, #ML</span>
                    </span>
                    <form>
                      <span class="mmtmegamen-text085">
                        <button class='mmtmegamen-text086', formaction="https://github.com/Agar1us">gh: Agar1us</button>
                        <br />
                        <button class='mmtmegamen-text086', formaction="https://t.me/Agar1us">tg: @Agar1us</button>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="mmtmegamen-alexext">
                <img
                  alt="IMAGE15010"
                  src="{% static "png/image15010-vg78-200h.png" %}"
                  {% comment %} src="public/external/image15010-vg78-200h.png" {% endcomment %}
                  class="mmtmegamen-image1"
                />
                <div class="mmtmegamen-alex">
                  <div class="mmtmegamen-frame113">
                    <span class="mmtmegamen-text089">
                      <span class="mmtmegamen-text090">
                        <span>Луняков Алексей</span>
                        <br />
                        <span>-</span>
                      </span>
                      <span class="mmtmegamen-text094">Student</span>
                      <span>
                        <span>-</span>
                        <br />
                        <span>Дизайнер</span>
                      </span>
                    </span>
                    <span class="mmtmegamen-text099">
                      <span>
                        <span>#Figma #CSS</span>
                        <br />
                        <span>#Python #ML</span>
                      </span>
                    </span>
                    <form>
                      <span class="mmtmegamen-text104">
                        <button class='mmtmegamen-text105', formaction="https://github.com/AlexeyLunyakov">gh: AlexeyLunyakov</button>
                        <br />
                        <button class='mmtmegamen-text105', formaction="https://t.me/al_goodini">tg: @bazarov</button>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="mmtmegamen-textframe">
              <span class="mmtmegamen-text108">
                <span>Спасибо, что познакомились с нашей командой</span>
              </span>
            </div>
            <form>
              <button class="mmtmegamen-btn", formaction="{% url 'file' %}">
                {% comment %} Назад {% endcomment %}
                <img
                  src="{% static "svg/codesandbox1819-zhyfd.svg" %}"
                  alt="codesandbox1819"
                  class="mmtslider-codesandbox"
                />
              </button>
            </form>
            <h1 style="opacity: 0"> ТЕСТ ТЕСТ КТО ЗДЕСЬ </h1>
          </div>
          {% endblock %}
